body{
    max-width: 1280px;
}
ul{
    list-style: none;
    text-align: center;
}
li{
     display: inline-block;
}
.style1{
    color: rgb(22, 160, 133);
    text-decoration: none;
    font-weight:bold;
    font-size:18px;
}
img{
    max-width: 100%;
    height: auto;
}
article{
    background-color: rgb(245, 246, 247);
    color: rgb(55, 55, 55) ;
}
h2{
    text-align: center;
    font-size: 22px;
    font-weight:bold;
}
p{
    text-align: center;
    font-size: 18px;
    font-weight:bold;
    margin-left: 113px;
    margin-right: 113px;
}
button{
    background-color:rgb(22, 160, 133);
    padding: 20px;
    border-radius: 5px; 
    border: none;
    margin-left: 527px;
}
.style2{
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding :43px;
}
footer{
    margin-top: 45px;
    text-align: right;
    font-size: 16px;
    font-weight:bold;
}